<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>dota2</title>
</head>
<body>
	<header><img width="128" height="128" src="/img/logo.png" alt="dota2 vvb's Logo"></header>
	{{{body}}}
</body>
</html>